@model WebApp.Models.Question
@{
    ViewBag.Title = "Изменение";
}

<ol class="breadcrumb">
    <li><a asp-area="" asp-action="Index" asp-controller="Home">Главная</a></li>
    <li><a asp-area="Teacher" asp-action="Index" asp-controller="Tests">Тесты</a></li>
    <li><a asp-area="Teacher" asp-action="Details" asp-route-id="@Model.TestId"  asp-controller="Tests">@Model.Test.Name</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>
<div class="container-fluid">
    <form asp-action="Edit">
        <div class="panel panel-primary">
            <div class="panel-heading">@ViewBag.Title</div>
            <div class="panel-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TestId" class="control-label"></label>
                    <select asp-for="TestId" class="form-control" asp-items="ViewBag.TestId"></select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Изменить" class="btn btn-primary btn-block" />
        </div>
        <a asp-action="Details" asp-area="Teacher" asp-controller="Tests"  asp-route-id="@Model.TestId" class="btn btn-default btn-block" role="button">Назад</a>
    </form>
</div>