@model WebApp.Models.Test
@{
    ViewBag.Title = "Подробная информация";
    IEnumerable<Question> Questions = ViewBag.Questions;
}

<ol class="breadcrumb">
    <li><a asp-area="" asp-action="Index" asp-controller="Home">Главная</a></li>
    <li><a asp-area="Teacher" asp-action="Index" asp-controller="Tests">Тесты</a></li>
    <li class="active">@Model.Name</li>
</ol>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Id</th>
                    <td>@Model.Id</td>
                </tr>
                <tr>
                    <th scope="row">Название</th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th scope="row">Курс</th>
                    <td>@Model.Course.Name</td>
                </tr>
                <tr>
                    <th scope="row" style="padding-top: 15px;">Вопросы</th>
                    <td>
                        <table class="table table-hover table-striped">
                            @foreach (var item in Questions)
                            {
                                <tr>
                                    @if (item.Description != null)
                                    {
                                        @if (item.Description.Length <= 110)
                                        {
                                            <td style="border-top:none !important;">@item.Description</td>
                                        }
                                        else
                                        {
                                            <td style="border-top:none !important;">@item.Description.Substring(0, 110)...</td>
                                        }

                                    }
                                    else
                                    {
                                        <td style="border-top:none !important"></td>
                                    }

                                    <td style="border-top:none !important">
                                        <a asp-controller="Questions" asp-action="Edit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-pencil"></span></a> |
                                        <a asp-controller="Questions" asp-action="Details" asp-route-id="@item.Id"><span class="glyphicon glyphicon-question-sign"></span></a> |
                                        <a asp-controller="Questions" asp-action="Delete" asp-route-id="@item.Id"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td style="border-top:none !important"><a class="btn btn-primary btn-sm" asp-controller="Questions" asp-area="Teacher" asp-action="Create" asp-route-id="@Model.Id" role="button">Добавить</a></td>
                                <td style="border-top:none !important"></td>
                            </tr>
                        </table>                     
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <a asp-action="Edit" class="btn btn-primary btn-block" asp-route-id="@Model.Id">Изменить название теста</a>
    </div>
    <a asp-area="Teacher" asp-action="Index" asp-controller="Tests" class="btn btn-default btn-block" role="button">Назад</a>
</div>